/* ------------- Colors --------------------------------------*/
:root {
  --main-red: #ef476f;
  --main-yellow: #ffd166;
  --main-green: #06d6a0;
  --main-blue: #118ab2;
  --main-grey: #073b4c;
  --main-white: ghostwhite;
  --light-grey: #55595c;
  --very-light-grey: #ced4da;
  --very-light-grey-2: #f7f7f9;
  --light-grey-2: #c6c6c6;
}

/* -------------- Reset --------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
  border: 1px solid green;
}

/* html, */
body {
  scroll-behavior: smooth;
}

h1 {
  display: inline-block;
  padding: 1.6rem;
  font-size: 5.6rem;
  text-align: center;
}

h2 {
  font-size: 3.3rem;
}

h3 {
  font-size: 2.6rem;
}

p,
a {
  font-size: 2rem;
}

.btn-primary {
  background-color: var(--main-green);
  color: var(--main-white);
  border-color: var(--main-green);
}

.btn-primary:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: 2px solid var(--main-green);
  border-color: var(--main-green);
}

.warning,
.warning * {
  border: 1px solid yellow;
}

.error,
.error * {
  border: 1px solid red;
}
