/* ------------- Colors --------------------------------------*/
:root {
  --main-red: #ef476f;
  --main-yellow: #ffd166;
  --main-green: #06d6a0;
  --main-blue: #118ab2;
  --main-grey: #073b4c;
  --main-white: ghostwhite;
  --light-grey: #55595c;
  --very-light-grey: #ced4da;
  --very-light-grey-2: #f7f7f9;
  --light-grey-2: #c6c6c6;
}

/* -------------- Reset --------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
  /* border: 1px solid green; */
}

body {
  scroll-behavior: smooth;
  background-color: var(--very-light-grey);
}

h1 {
  display: inline-block;
  font-size: 5.6rem;
  text-align: center;
}

h2 {
  font-size: 3.3rem;
}

h3 {
  font-size: 2.6rem;
}

p,
a {
  font-size: 2rem;
}

.btn {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0.5rem 1.6rem;
  margin: 0.4rem;
  font-weight: bold;
  border-style: solid;
  text-align: center;
  transition: transform 100ms;
}

.btn-primary {
  background-color: var(--main-grey);
  color: var(--main-white);
  border-color: var(--main-grey);
}

.btn-primary:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: 2px solid var(--main-grey);
  border-color: var(--main-grey);
}

.city-form,
.weather-div,
.section-result,
footer,
.forecast-section,
.hourly-forecast-section {
  background-color: var(--main-yellow);
  max-width: 80rem;
  margin: 0 auto;
  padding: 1.6rem 1.6rem;
  border: 10px solid var(--main-blue);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.section-search,
.city-weather,
.forecast-section,
.hourly-forecast-section {
  margin-bottom: 2rem;
}

.city-label {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  color: var(--light-grey);
  font-weight: bold;
  margin: 0.2rem 0 0.8rem;
}

.form-input {
  padding: 1.2rem 1.2rem;
  font-size: 1.6rem;
  color: var(--light-grey);
  font-weight: 400;
  outline: none;
  border: 0 solid var(--very-light-grey);
  background-color: var(--very-light-grey-2);
  transition: border-color 0.15s, ease-in-out 0.15s, box-shadow 0.15s;
}

.form-input:focus {
  outline: 0.4rem solid var(--light-grey-2);
}

/* Majd jó lesz a desktop nézethez */
/* .section-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.6rem;
} */

.saved-cities {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.saved-cities p,
.time-p,
.next-hours-p {
  font-weight: 700;
  margin-top: 1.6rem;
}

.saved-cities-div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.error,
.warning {
  margin: 0 auto 2rem;
  max-width: 80rem;
  background-color: var(--main-yellow);
  color: var(--main-red);
  font-weight: 700;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.error p,
.warning p {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  border: 10px solid var(--main-blue);
}

.max-temp {
  color: var(--main-red);
}

.min-temp {
  color: var(--main-blue);
}

.hourly-forecast-heading {
  display: flex;
  flex-wrap: wrap;
}

/* .twenty-four-hours-forecast-button {
  margin-top: 1.6rem;
} */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  gap: 1rem;
}

.bi-github {
  font-size: 2rem;
  padding: 0.2rem 0.4rem;
}

.bi-x {
  font-size: 2rem;
}

.bi-sunrise,
.bi-sunset {
  font-size: 2rem;
  line-height: 2rem;
}

.invisible {
  display: none;
}

/* .space-around {
  justify-content: space-around;
} */

.forecast-div {
  display: flex;
  flex-wrap: wrap;
}

.forecast-div div {
  margin: 1.6rem;
}

.forecast-div div :first-child {
  font-weight: 700;
}
